.header {
  width: 100%;
  min-height: 96px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid $color-gainsboro;
}

.header__logo {
  color: $color-russett;
}

.header__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 16px;
}

