.input-wrapper {
  position: relative;
  flex-grow: 1;

  input,
  textarea {
    width: 100%;
    font-size: 14px;
    line-height: 150%;
    color: $color-night-rider;
    background-color: $color-transparent;
    border: 2px solid $color-gainsboro;
    outline: none;
    padding: 10px 14px 12px;
    min-height: 48px;
    transition: border $default-transition-settings, border-radius $default-transition-settings;

    @media (hover: hover), screen and (min-width: 0) {
      &:hover,
      &:focus {
        border-color: $color-pink-swan;
      }
    }
  }

  &:disabled {
    background-color: $color-pink-swan2;
  }

  input::placeholder,
  textarea::placeholder {
    color: $color-nobel2;
  }
}
