@font-face {
  font-style: normal;
  font-weight: normal;
  font-family: "Merriweather";

  font-display: swap;
  src:
    url("~@/assets/fonts/merriweather-regular.woff2") format("woff2"),
    url("~@/assets/fonts/merriweather-regular.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: bold;
  font-family: "Merriweather";

  font-display: swap;
  src:
    url("~@/assets/fonts/merriweather-bold.woff2") format("woff2"),
    url("~@/assets/fonts/merriweather-bold.woff") format("woff");
}


