.h1 {
  font-weight: bold;
  font-size: 72px;
  line-height: 84px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  max-width: 1118px;
}

.h2 {
  font-weight: bold;
  font-size: 56px;
  line-height: 77px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  max-width: 1118px;
}

.h3 {
  font-weight: 600;
  font-size: 36px;
  line-height: 46px;
  max-width: 1118px;
}
